main {
  background: #06d7d9;
  color: #fafafa !important;
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: column; */
  min-height: 100vh;
  align-content: center;
  padding: 2% 21% 1.5%;
  text-align: left;
}

main>* {
  padding: 10px;
  flex: 1 100%;
}

main>.intro {
  font-family: "Reem Kufi", sans-serif;
  font-size: 4.2vh;
  font-weight: 600;
  margin-left: .6rem;
}

main>.tagline {
  font-size: 3.1vh;
  margin: 1.5rem .6rem;
  font-weight: 300;
}

main>.about {
  font-size: 2.5vh;
  margin: 1.5rem 1rem;
  font-weight: 600;
  text-align: left;
  padding: 0 21% 0 .04%;
}

.pad-top {
  padding-top: 2%;
}

.email {
  color: #fff;
  text-decoration: none;
}

.email:hover {
  color: #fff;
  text-decoration: underline;
}

.icons-social a {
  color: #fafafa !important;
  text-decoration: none;
}

.icons-social a svg path {
  fill: #fafafa !important;
}

img {
  position: absolute;
  top: 2vh;
  left: -12vh;
}

html {
  font-family: 'Roboto', sans-serif !important;
  min-height: 100%;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3.6vh;
}

.letter {
  display: inline-block;
}

.icons-social i {
  padding: 5px;
}

